* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/bg_001.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

.everything {
  border: 1px crimson solid;
  width: 100%;
  display: flex;
  /* flex-direction: flex; */
  flex-flow: row wrap;
  justify-content: center;
}

.topPage {
  width: 70%;
  border: 1px red solid;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
  justify-content: space-around;
  align-items: center;
}

.image-logo {
  width: 8rem;
  margin: 1rem;
}

.menu1 {
  border: 1px yellow solid;
}

.menu1 li {
  border: 1px yellow solid;
  font-size: xx-small;
  color: white;
  font-weight: bold;
  display: inline-flex;
  flex-direction: row;
}

.menu1 .menu-btn:checked {
  background: transparent;
  border: transparent;
}

.contentMain {
  border: yellow 5px solid;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;
  align-items: center;
}

.boxLeft {
  border: 1px rgb(10, 2, 112) solid;
  width: 15rem;
  color: white;
  font-style: normal;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.boxLeftContent,
.buttons {
  margin: 0.5rem 0;
}

.boxRight {
  background-color: blue;
  border: rgb(0, 187, 87);
  margin: 1rem;
  display: inline-flex;
  position: relative;
}

.phone1,
.phone2 {
  width: 10rem;
}

.phone1 {
  position: absolute;
  right: 0rem;
  top: 0rem;
}

.phone2 {
  position: relative;
  top: 0.5rem;
  right: 2rem;
}

p {
  font-size: xx-small;
}

/*---------------------------------------------------*/

.buttons {
  display: inline-flex;
  justify-content: space-between;
}

.button1,
.button2 {
  width: 7rem;
  height: 1.8rem;
  border: transparent;
  color: white;
}

.button1 {
  background-color: rgb(0, 187, 87);
}

.button2 {
  background-color: rgb(98, 98, 250);
}

/*---------------------------------------------------*/
@media only screen and (max-width: 600px) {
  .button1 {
    /* color: red; */
  }

  .contentMain {
    border: yellow 5px solid;
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 0.5rem;
    /* align-items: center; */
  }

  .boxLeft {
    border: 1px rgb(10, 2, 112) solid;
    width: 15rem;
    color: white;
    font-style: normal;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .boxLeft p,
  .boxLeft h3 {
    display: flex;
    justify-content: right;
  }

  /*----------------phones-----------------------------*/

  .boxRight {
    background-color: blue;
    border: rgb(0, 187, 87);
    margin: 1rem;
    display: inline-flex;
    /* position: relative; */
  }

  .phone1,
  .phone2 {
    width: 10rem;
  }

  .phone1 {
    position: absolute;
    right: -1rem;
    top: 0rem;
  }

  .phone2 {
    position: relative;
    top: 0.5rem;
    right: 1rem;
  }
  /*----- NAV-----*/

  /*----- hamburger menu icon -----*/
  .menu1 .menu-icon {
    /*only affecting the hamb menu icon*/
    cursor: pointer;
    display: inline-block;
    /* float: left; */
    padding: 30px 20px;
    display: flex; /*hamburger menu placement */
    /* flex-direction: column; */
    justify-content: center; /*hamburger menu placement */
    /* position: relative; */
    /* user-select: none; */
    /* outline: none; */

    /* &:focus {
      border: 1px dotted $med-light-grey-color;
      margin: -1px;
      outline: none;
    } */
  }

  .menu1 .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px; /*cross size*/
    position: relative; /*cross position*/
    /* transition: background 0.2s ease-out; */
    width: 18px; /*cross size*/
  }

  .menu1 .menu-icon .navicon:before,
  .menu1 .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .menu1 .menu-icon .navicon:before {
    top: 5px; /*position of the hamb. menu lines in relation to one another*/
  }

  .menu1 .menu-icon .navicon:after {
    top: -5px; /*position of the hamb. menu lines in relation to one another*/
  }

  /*----- menu btn (triggers opening and closing of hamb. menu) -----*/
  .menu1 .menu-btn {
    display: none;
  }

  .menu1 .menu-btn:checked ~ .menu-outer .menu,
  .menu1 .menu-btn:checked ~ .menu-outer .hq-nav {
    /* max-height: 100%; */
  }

  .menu1 .menu-btn:checked ~ .menu-outer {
    max-height: 75vh;
    /* box-shadow: 0px 2px 4px 0 rgba(30, 31, 33, 0.5); */
  }

  .menu-outer {
    clear: both; /*no idea*/
    overflow-x: auto; /*makes space when the menu opens so it does not overlap*/
    max-height: 0;
  }

  .menu1 .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu1 .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
    /*this is creating the x*/
  }

  .menu1 .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  } /*this is creating the x*/

  .menu1 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu1 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  /* End basic hamburger menu setup */

  /* --------------------------------- */

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    /* background-color: white; */
  }

  li {
    display: block;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
  }

  li:hover,
  .hq-nav li:hover {
    background-color: #eee;
  }

  li:focus,
  .hq-nav li:focus {
    border: 1px dotted #eee;
    margin: -1px;
    outline: none;
  }
}
